.category {
    @include belowHeight($smallHeight) {
        font-size: 13px;
    }

    &__list {
        width: 100%;
        height: 100vh;
        position: relative;
        transition: transform .6s ease;

        @include below($screen-xsmall){
            height: auto !important;
            .fp-tableCell{
                height: auto !important;
            }
        }

        &.active{
            transform: translateY(-14%);

            .category__title{
                transform: translateY(-100%);
            }
            @include below($screen-xsmall){
                transform: none;
                .category__title{
                    transform: none;
                }
            }
        }

        &:first-child{
            transform: none;
            .category__title{
                transform: none;
            }
        }

        @include below($screen-xsmall){
            transform: none;
            .category__title{
                transform: none;
            }
        }
        
        &:hover{
            .category__item{
                opacity: .4;
                &:hover{
                    opacity: 1;
                }
                
                .my-votes &,
                .logged-out & {
                    opacity: 1;
                }
            }
        }
    }

    &__title {
        text-transform: capitalize;
        margin-bottom: 0;
        transition: transform .6s ease, color 1s ease;

        @include below($screen-xsmall){
            font-size: 36px;
            margin-top: 60px;
        }
    }

    &__movies-list {
        padding-top: 30px;
        // opacity: 0;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        margin: 0 -60px;
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 45px;
        overflow: scroll;
         -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
        &::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
        }

        @include belowHeight($smallHeight) {
            padding-top: 25px;
        }
        
        @include below($screen-xsmall){
            padding-top: 30px;
        }

        &.slick-initialized {
            opacity: 1;
        }
    }

    &__item {
        display: inline-block;
        margin-left: 60px;
        position: relative;
        transition: opacity .4s ease;
        user-select: none;
        outline: 0;
        flex: 0;

        &:last-child{
            margin-right: 60px;
        }

        .slick-track & {
            margin: 0px;
        }

    }
    &__container{
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        
        @include below($screen-xsmall){
            top: 0;
            transform: none;
            position: relative;
        }
    }
}

.slick-track {
    min-width: 100%;
}

.slick-list.draggable {
    overflow: visible;
}
