.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;

        @include below($screen-xsmall){
            padding-top: 20px;
        }
    }

    &__site-logo{
        fill: #c5a955;
        color: #c5a955!important;
    }

    &__user-info{
    }
}