.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: -moz-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    background-image: -webkit-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    background-image: -ms-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    opacity: 1;
    pointer-events: all;
    transition: .8s opacity;
    cursor: default;

    &.fade {
        opacity: 0;
        pointer-events: none;
    }

    @include below($screen-xsmall){
        height: 100vh;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 20;
        display: block;
        text-align: center;
    }

    .title-nominees{
        font-size: 37px;
        font-family: 'HUGE';
        color: #c5a955;
        letter-spacing: 28.2px;
        text-align: center;
        margin: 0 0 30px 20px;
        line-height: 1;

        @include below($screen-xsmall){
            font-size: 20px;
            letter-spacing: 19px;
            margin-bottom: 30px;
            margin-top: 50px;

            span{
                display: none;
            }
        }
    }

    .title-year{
        font-size: 329px;
        font-family: 'HUGE';
        color: #c5a955;
        text-align: center;
        margin: 0;
        line-height: 1;
        letter-spacing: -14px;

        @include belowHeight($smallHeight) {
            font-size: 280px;
        }

        @include below($screen-xsmall){
            font-size: 200px;
            line-height: 0.8;
            letter-spacing: 0;

            span{
                display: block;
            }
        }
    }

    .title-slogan{
        font-family: 'Copernicus';
        font-size: 16px; 
        margin: 0;
        margin-bottom: 20px;
        margin-top: 10px;
        line-height: 1.4;
        color: #5d5d5d;
        text-align: center;
        
        &.logout{
            display: none;
        }

        .logged-out &{
            display: none;
            &.logout{
                display: block;
            }
        }

        @include below($screen-xsmall){
            display: none;
        }
    }

    .space-bar{
        display: inline-block;
        position: relative;
        border: 3px solid #fff;
        padding: 18px 25px;
        margin-top: 20px;
        overflow: hidden;
        
        &:before{
            content: ' ';
            display: block;
            position: absolute;
            background: #fff;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            z-index: -1;
            transition: left .1s linear;
        }

        &.active{
            &:before{
                transition: left 2s linear;
                left: 0;
            }
        }
    }

    .space-bar-text{
        font-family: 'HUGE';
        font-size: 13px;
        letter-spacing: 0.1px;
        color: #fff;
        mix-blend-mode: difference;

        &.mobile{
            display: none;
        }

        @include below($screen-xsmall){
            display: none;
            &.mobile{
                display: inline;
            }
        }
    }
}

.header-experience-movies{
    width: 100vw;
    height: 100vh !important;
    opacity: 0;
    transition: opacity .1s ease;
    z-index: 5;
    &.show{
        opacity: .7;
        transition: opacity 1s cubic-bezier(.18,.01,.83,.28);
    }
}

.header-experience-posters{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &.poster1{
        background: url(~assets/img/header-experience/movie1.jpg);
        background-size: cover;
        animation: headerExperienceAnimate1 3s infinite;
    }
    &.poster2{
        background: url(~assets/img/header-experience/movie2.jpg);
        background-size: cover;
        animation: headerExperienceAnimate2 3s infinite;
    }
    &.poster3{
        background: url(~assets/img/header-experience/movie3.jpg);
        background-size: cover;
        animation: headerExperienceAnimate3 3s infinite;
    }
    &.poster4{
        background: url(~assets/img/header-experience/movie4.jpg);
        background-size: cover;
        animation: headerExperienceAnimate4 3s infinite;
    }
    &.poster5{
        background: url(~assets/img/header-experience/movie5.jpg);
        background-size: cover;
        animation: headerExperienceAnimate5 3s infinite;
    }
    &.poster6{
        background: url(~assets/img/header-experience/movie6.jpg);
        background-size: cover;
        animation: headerExperienceAnimate6 3s infinite;
    }
    &.poster7{
        background: url(~assets/img/header-experience/movie7.jpg);
        background-size: cover;
        animation: headerExperienceAnimate7 3s infinite;
    }
    &.poster8{
        background: url(~assets/img/header-experience/movie8.jpg);
        background-size: cover;
        animation: headerExperienceAnimate8 3s infinite;
    }
    &.poster9{
        background: url(~assets/img/header-experience/movie9.jpg);
        background-size: cover;
        animation: headerExperienceAnimate9 3s infinite;
    }
    &.poster10{
        background: url(~assets/img/header-experience/movie10.jpg);
        background-size: cover;
        animation: headerExperienceAnimate10 3s infinite;
    }
}

@keyframes headerExperienceAnimate1 {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes headerExperienceAnimate2 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate3 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate4 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate5 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate6 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate7 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate8 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate9 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes headerExperienceAnimate9 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.header-experience-cover{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: -moz-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    background-image: -webkit-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    background-image: -ms-linear-gradient( -28deg, rgb(255,243,207) 0%, rgb(228,202,123) 100%);
    top: 0;
    left: 0;
    z-index: 8;
    mix-blend-mode: soft-light;
    mix-blend-mode: color;
}
