.movie-card {
    height: 100%;

    &__content {
        // width: 205px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .my-votes & {
            padding: 0px;
            display: block;
        }
        // @include belowHeight($smallHeight) {
        //     width: 166px;
        // }
    }

    &__poster {
        position: relative;
        // background: #7d9ed0;
        width: 100%;
        // height: 315px;
        border-radius: 5px;
        box-shadow: none;
        transform: translateY(0) scale(1);
        transition: .4s box-shadow, .4s transform;
        overflow: hidden;
        cursor: pointer;

        // @include belowHeight($smallHeight) {
        //     height: 250px;
        // }

        &:before {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: .4;
            mix-blend-mode: color;
            transition: 1s background;
        }

        .my-votes .-empty & {
            background: none;
            border: 1px dashed $light-yellow;
            padding-top: 155%;

            .movie-card__actions {
                display: none;
            }
        }
        
        &:hover {
            box-shadow: 0px 40px 50px 0px rgba(34, 89, 149, 0.2);
            transform: translateY(-30px) scale(1.05);
            @include below($screen-xsmall){
                box-shadow: none;
                transform: none;
            }
        }

        .votation-ended &,
        .my-votes &,
        .logged-out &,
        .category .movie-card.-voted & {
            cursor: move; /* fallback if grab cursor is unsupported */
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            box-shadow: none;
            transform: translateY(0) scale(1);
        }
    }

    &__poster-img {
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    &__huge-winner {
        display: block;
        
        > p {
            display: block;
        }
    }

    &__actions {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        transition: .2s opacity;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 0;

        .votation-ended &,
        .category .movie-card:hover &,
        .category .movie-card.-voted & {
            opacity: 1;
        }

        &.movie-card__huge-winner,
        .category .movie-card.-voted & {
            border: 8px solid $beige;
        }

        .my-votes & {
            opacity: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logged-out &,
        .my-votes .movie-card:not(.-empty) & {
            display: none;
        }

        &.movie-card__huge-winner {
            display: flex;
            flex-direction: column;
            font-size: 12px;
        }
    }

    &__action {
        outline: none;

        .movie-card__huge-winner & {
            text-align: center;
        }

        .category .movie-card.-voted & {
            cursor: default;
            color: $beige;
        }
    }

    &__name {
        margin: 10px 0;
        line-height: 1.4;
        font-family: 'Copernicus';
        font-size: 14px;
        text-align: center;
        vertical-align: baseline;
        color: #254e8c;
        flex: 1;

        .my-votes & {
            color: $light-yellow;
        }
    }

    &__category-name {
        margin-bottom: 25px;
        height: 50px;
        display: flex;
        align-items: flex-end;

        @include belowHeight($smallHeight) {
            height: 40px;
            margin-bottom: 15px;
        }
    }

    &__percent {
        text-align: center;
    }

    &__loading {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: none;

        &.loading{
            display: block;
        }

        svg path,
        svg rect{
            fill: $white;
        }
    }

    .plus-icon {
        width: 42px;
        height: 42px;
        position: relative;
        border: 1px solid $yellow;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 15px;

        &::after,
        &::before {
            content: '';
            background: $yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transform-origin: center;
            opacity: .6;
        }

        &::after {
            height: 2px;
            width: 50%;
        }

        &::before {
            height: 50%;
            width: 2px;
        }
    }
}
