.my-votes {
    padding: 140px 0;

    @include belowHeight($smallHeight) {
        padding: 90px 0;
        font-size: 13px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include belowHeight($smallHeight) {
            margin-bottom: 10px;
            font-size: .5rem;
        }
    }

    &__movies-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 0 -40px;
        justify-content: space-around;
    }

    &__item {
        padding: 25px;
        flex: 0 0 20%;

        @include below($screen-small){
            flex: 0 0 50%;
        }

        @include below($screen-xsmall){
            flex: 0 0 100%;
        }
    }
}