.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    max-width: 400px;
    padding: 44px 60px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, .95);
    transition: .4s transform;
    transform: translateX(100%);
    
    &.active {
        transform: translateX(0);
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        &-item {
            margin: 10px 0;
            &:hover {
                opacity: .7;
            }
        }
        
        .voted-status{
            font-family: 'Copernicus';
            font-size: 14px;
            margin-top: 10px;
        }
    }

    &__footer {
    }

    &__close {
        position: absolute;
        font-size: 50px;
        right: 20px;
        top: 20px;
    }

    &__header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.login-with-google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: $yellow;
    color: $white;
    width: 100%;

    @extend .txt-small--bold;

    &__icon{
        display: inline-block;
        margin-right: 15px;
        
        img{
            width: 20px;
        }
    }
}

.user-image-thumb img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.close-btn {
    height: 22px;
    width: 22px;
    position: relative;
    display: inline-block;

    &::after,
    &::before {
        content: '';
        background: $yellow;
        position: absolute;
        top: 50%;
        left: 0;
        
        transform-origin: center;
        height: 2px;
        width: 100%;
    }

    &::after {
        transform: translateY(-50%) rotate(-45deg);
    }

    &::before {
        transform: translateY(-50%) rotate(45deg);
    } 
}