<template>
  <div id="category">
      <div class="container">
            <ul class="category"  v-bind:class="{'votation-ended': votationEnded}">
                <li class="category__list section" v-for="category, index in filteredMoviesList" v-bind:id="'category-list-' + category._id" v-bind:data-pos="index+1">
                    <div class="category__container">
                        <h2 class="category__title txt-big--bold">{{ category.name }}</h2>
                        <ul class="category__movies-list">
                            <li class="category__item" v-for="movie in category.movies" v-bind:id="'movie-list-' + movie._id">
                                <movie-card v-bind:category-id="category._id" v-bind:current-category-index="index" v-bind:movie-card-data="movie" v-bind:percentage="movie.percentage" v-bind:votation-ended="votationEnded" v-bind:huge-winner="movie.hugeWinner"></movie-card>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="category__list section"></li>
            </ul>
      </div>
  </div>
</template>

<script>
    import MovieCard from './MovieCard.vue';

    export default {
        name: 'Category',
        components: {
            MovieCard
        },
        data() {
            return {
                votationEnded: true
            }
        },
        props: ['moviesList'],
        computed: {
            filteredMoviesList: function() {
                let filteredMoviesList = this.moviesList.map((category) => {
                    let winner = {
                        winnerObj: {},
                        winnerIndex: 0,
                        percentage: 0
                    }

                    winner= category.movies.reduce((prev, current, currentIndex) => {
                        if (prev.percentage > current.percentage) {
                            return {
                                winnerObj: prev.winnerObj,
                                winnerIndex: prev.winnerIndex,
                                percentage: prev.percentage
                            }
                        } else {
                            return {
                                winnerObj: current,
                                winnerIndex: currentIndex,
                                percentage: current.percentage
                            }
                        };
                    }, winner);

                    if (category.movies && !isNaN(winner.percentage) && category.movies[winner.winnerIndex]) {
                        category.movies[winner.winnerIndex].hugeWinner = true;

                        category.movies.sort(function (a, b) {
                            return  b.percentage - a.percentage;
                        });
                    }

                    return category;
                })
                return filteredMoviesList;
            }
        }
    };
</script>
