<template>
    <header class="fixed-header">
        <div class="container">
            <div class="fixed-header__container">
                <div v-on:click="goToHome" class="cursor-pointer">
                    <svg class="fixed-header__site-logo logo" width="45px" height="18px" viewBox="0 0 45 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <g>
                            <path d="M17.9844923,0.09108 L17.9844923,14.26896 C17.9844923,14.68116 17.6496923,15.01488 17.2360523,15.01488 L15.7395323,15.01488 C15.3262523,15.01488 14.9914523,14.6808 14.9914523,14.26896 L14.9914523,0.09108 L11.9987723,0.09108 L11.9987723,15.01488 C11.9987723,16.66296 13.3386923,17.99964 14.9914523,17.99964 L17.9841323,17.99964 C19.6368923,17.99964 20.9768123,16.66296 20.9768123,15.01488 L20.9768123,0.09108 L17.9844923,0.09108" id="Fill-2"></path>
                            <polygon id="Fill-4" points="44.9200523 3.07584 44.9200523 0.09108 35.9416523 0.09108 35.9416523 17.99964 44.9200523 17.99964 44.9200523 15.01488 38.9343323 15.01488 38.9343323 10.53792 41.9266523 10.53792 41.9266523 7.55316 38.9343323 7.55316 38.9343323 3.07584"></polygon>
                            <path d="M32.9486123,4.5684 L32.9486123,3.07584 C32.9486123,1.4274 31.6083323,0.09108 29.9559323,0.09108 L26.9632523,0.09108 C25.3101323,0.09108 23.9705723,1.4274 23.9705723,3.07584 L23.9705723,15.01488 C23.9705723,16.66296 25.3104923,17.99964 26.9632523,17.99964 L29.9559323,17.99964 C31.6086923,17.99964 32.9486123,16.66296 32.9486123,15.01488 L32.9486123,7.5528 L28.4590523,7.5528 L28.4590523,10.53756 L29.9555723,10.53756 L29.9555723,14.26896 C29.9552123,14.6808 29.6204123,15.01452 29.2074923,15.01452 L27.7109723,15.01452 C27.2980523,15.01452 26.9628923,14.68044 26.9628923,14.2686 L26.9628923,3.82212 C26.9628923,3.40992 27.2980523,3.07584 27.7109723,3.07584 L29.2074923,3.07584 C29.6204123,3.07584 29.9555723,3.40992 29.9555723,3.82212 L29.9555723,4.5684 L32.9486123,4.5684" id="Fill-6"></path>
                            <polygon id="Fill-1" points="6.01326831 0.091224 6.01326831 7.552944 3.02058831 7.552944 3.02058831 0.091224 0.0275483077 0.091224 0.0275483077 17.999784 3.02058831 17.999784 3.02058831 10.538064 6.01290831 10.538064 6.01290831 18.000144 9.00558831 18.000144 9.00558831 0.091224"></polygon>
                        </g>
                    </svg>
                </div>
                <div class="fixed-header__user-info" v-on:click="openSidebar">
                    <a href="javascript:void(0);" class="txt-small--bold yellow" v-if="!userInfo.token">Log in</a>
                    <a href="javascript:void(0);" class="user-image-thumb" v-if="userInfo.token">
                        <img v-bind:src="userInfo.image"/>
                    </a>
                </div>
            </div>
        </div>
        
    </header>
</template>

<script>
    import Events from './Events.vue';
    import UserService from './UserService.vue';

    export default {
        name: 'FixedHeader',
        computed: {
            userInfo: function() {
                return UserService.user;
            }
        },
        methods: {
            openSidebar: function() {
                Events.$emit('open-sidebar');
            },
            goToHome: function() {
                Events.$emit('go-to-categories');
            }
        }
    };
</script>
