<template>
  <header class="hero" id="hero">
    <div class="header-experience-movies" id="headerExperienceMovies">
      <div class="header-experience-posters poster1"></div>
      <div class="header-experience-posters poster2"></div>
      <div class="header-experience-posters poster3"></div>
      <div class="header-experience-posters poster4"></div>
      <div class="header-experience-posters poster5"></div>
      <div class="header-experience-posters poster6"></div>
      <div class="header-experience-posters poster7"></div>
      <div class="header-experience-posters poster8"></div>
      <div class="header-experience-posters poster9"></div>
      <div class="header-experience-posters poster10"></div>
    </div>
    <div class="header-experience-cover"></div>
    <div class="container">
      <h1 class="title-nominees"><span>THE</span> NOMINEES</h1>
      <h2 class="title-year"><span>20</span>17</h2>
      <h3 class="title-slogan">We voted for our favorite movies of 2016, in every category. Check out our picks.</h3>
      <h3 class="title-slogan logout">We voted for our favorite movies of 2016, in every category. Check out our picks.</h3>
      <div class="space-bar" id="spaceBar">
        <span class="space-bar-text">Hold space to begin</span>
        <span class="space-bar-text mobile">Scrolldown to begin</span>
      </div>
    </div>
  </header>
</template>

<script>

    import img1 from '../assets/img/header-experience/movie1.jpg';
    import img2 from '../assets/img/header-experience/movie2.jpg';
    import img3 from '../assets/img/header-experience/movie3.jpg';
    import img4 from '../assets/img/header-experience/movie4.jpg';
    import img5 from '../assets/img/header-experience/movie5.jpg';
    import img6 from '../assets/img/header-experience/movie6.jpg';
    import img7 from '../assets/img/header-experience/movie7.jpg';
    import img8 from '../assets/img/header-experience/movie8.jpg';
    import img9 from '../assets/img/header-experience/movie9.jpg';

    import Scroll from './Scroll.vue';

    export default {
        name: 'hero',
        created() {
          $( document ).ready(function() {
            var scrollCounter = 0;

            // HERO JS STARTS

            var timeout,
                headerExperienceTimeout,
                keyPressed;

            $( document ).keydown(function( event ) {
              if ( event.which == 32 ) {
                if(scrollCounter == 0){
                  event.preventDefault();
                  $('#headerExperienceMovies').css('display', 'block');
                  $('#headerExperienceMovies').addClass('show');
                  $('#spaceBar').addClass('active');
                  if(!keyPressed){
                    headerExperienceTimeout = setTimeout(startExperience, 2000);
                    keyPressed = true;
                  }
                } else{
                  event.preventDefault();
                }
              } else if(
                event.which == 38
                || event.which == 40
                || event.which == 9
                || event.which == 37
                || event.which == 39
              ) {
                event.preventDefault();
              }
            });

            function startExperience(){
              $('#headerExperienceMovies').removeClass('show');
              $('#headerExperienceMovies').css('display', 'none');
              Scroll.next();
            }

            $( document ).keyup(function( event ) {
              if ( event.which == 32 ) {
                event.preventDefault();
                $('#headerExperienceMovies').removeClass('show');
                $('#spaceBar').removeClass('active');
                clearTimeout(headerExperienceTimeout);
                keyPressed = false;
              }
            });
          });
        }
    };
</script>
