<template>
    <div class="movie-card" v-bind:class="{ '-voted': isVoted && !votationEnded, '-empty': !movieCardData }">
        <figure class="movie-card__content">
            <h3 class="movie-card__category-name txt-normal--bold yellow" v-if="categoryName">
                {{categoryName}}
            </h3>
            <div class="movie-card__poster" v-on:mousedown="voteHandler()" v-on:mouseup="voteCard()">
                <div class="movie-card__poster-img">
                    <img v-bind:src="movieCardDataPoster" alt="" v-if="movieCardData">
                </div>

                <div class="movie-card__actions" v-if="categoryId && !votationEnded">
                    <a href="javascript:void(0)" class="movie-card__action txt-medium--bold" >{{isVoted ? 'Voted' : 'Vote'}}</a>
                </div>

                <div class="movie-card__actions movie-card__huge-winner" v-if="categoryId && votationEnded && (hugeWinner || movieCardData.academyWinner)">
                    <p href="javascript:void(0)" class="movie-card__action txt-medium--bold" v-if="movieCardData.academyWinner">Academy <span v-if="!hugeWinner"><br/>winner.</span></p>
                    <p href="javascript:void(0)" class="movie-card__action txt-medium--bold" v-if="movieCardData.academyWinner && hugeWinner">&</p>
                    <p href="javascript:void(0)" class="movie-card__action txt-medium--bold" v-if="hugeWinner">Huge <br/>winner.</p>
                </div>

                <div class="movie-card__loading" v-bind:class="{loading:isLoading}">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                        <animateTransform attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.6s"
                        repeatCount="indefinite"/>
                        </path>
                    </svg>
                </div>

                <ul class="movie-card__actions" v-if="!categoryId">
                    <span class="plus-icon"></span>
                    <a href="javascript:void(0)" class="movie-card__action txt-normal--bold yellow">Vote now.</a>
                </ul>
            </div>
            <figcaption class="movie-card__name" v-if="movieCardData">
                {{ movieCardData.name }}
            </figcaption>
            <p class="movie-card__percent txt-normal--bold light-blue" v-if="percentage">
                {{ parsedPercentage }}%
            </p>
        </figure>
    </div>
</template>

<script>

    import UserService from './UserService.vue';
    import Events from './Events.vue';

    export default {
        name: 'MovieCard',
        props: ['movieCardData', 'categoryId', 'categoryName', 'percentage', 'currentCategoryIndex', 'votationEnded', 'hugeWinner'],
        data() {
            return {
                ableToVote: true,
                ableToVoteTimeout: false,
                isLoading: false

            };
        },
        computed: {
            parsedPercentage: function() {
                return parseInt(this.percentage);
            },
            isVoted: function() {
                if (!this.categoryId) {
                    return;
                }

                var haveVotes =
                    UserService.user.votes &&
                    UserService.user.votes[this.categoryId];

                if (!haveVotes) {
                    return;
                }

                return UserService.user.votes[this.categoryId] === this.movieCardData._id;
            },
            movieCardDataPoster: function() {
                try {
                    return require('assets/img/posters/' + this.movieCardData.poster);
                } catch (e) {
                    return '';
                }
            }
        },
        created() {
            Events.$on('finish-voting', () => {
                this.isLoading = false;
            });
        },
        methods: {
            voteCard: function() {
                if (this.votationEnded || !this.ableToVote || !this.categoryId || !UserService.user.token || this.isVoted) {
                    return;
                }
                this.isLoading = true;
                UserService.setVote(this.categoryId, this.movieCardData._id);
            },
            voteHandler: function() {
                this.ableToVote = true;

                if (this.ableToVoteTimeout) {
                    clearTimeout(this.ableToVoteTimeout);
                }

                this.ableToVoteTimeout = setTimeout(() => {
                    this.ableToVote = false;
                }, 200);
            }
        }
    };
</script>
