<template>
    <div class="container overflow-auto screen-height">
        <div class="my-votes">
            <div class="my-votes__container">
                <div class="my-votes__title">
                    <h2 class="txt-big--bold yellow">Your ballot.</h2>
                    <p>
                        <span class="txt-big--bold light-yellow">{{ votedLength }}</span>
                        <span class="txt-big--bold yellow">/{{ categoryLength }}</span>
                    </p>                    
                </div>

                <ul class="my-votes__movies-list">
                    <li class="my-votes__item" v-for="category in myVotes">
                        <movie-card v-bind:category-name="category.name" v-bind:movie-card-data="category.voted"></movie-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import MovieCard from './MovieCard.vue';
    import UserService from './UserService.vue';

    export default {
        name: 'MyVotes',
        props: ['moviesList'],
        components: {
            MovieCard,
        },
        computed: {
            categoryLength: function() {
                return this.moviesList ? this.moviesList.length : 0;
            },
            votedLength: function() {
                var isValidVotes = (UserService.user && typeof UserService.user.votes === 'object');
                return isValidVotes ? Object.keys(UserService.user.votes).length : 0;
            },
            myVotes: function() {
                var vm  = this,
                    allCategories = vm.moviesList;

                allCategories = allCategories.map((category) => {
                    var votedCategory;

                    if (!UserService.user || !UserService.user.votes || !UserService.user.votes[category._id]) {
                        return category;
                    } else {
                        votedCategory = UserService.user.votes[category._id];

                        category.voted = category.movies.filter((movie) => {
                            return movie._id === votedCategory;
                        })

                        category.voted = category.voted.length > 0 ? category.voted[0] : false;
                        
                        return category;
                    }
                });

                return allCategories;
            }
        }
    };
</script>
