<template>
    <aside class="sidebar" v-bind:class="{ active: isActive }">
        <div class="sidebar__container">
            <div class="sidebar__header">
                <div class="sidebar__header-content" v-if="userInfo.name">
                    <p class="txt-small--bold yellow">{{userInfo.name}}</p>

                    <a href="javascript:void(0);" class="user-image-thumb" v-if="userInfo.token" v-on:click="closeSidebar">
                        <img v-bind:src="userInfo.image"/>
                    </a>
                </div>

                <div class="sidebar__header-content" v-if="!userInfo.name">
                    <p class="txt-small--bold yellow">Log in</p>
                    <a href="javascript:void(0);" class="close-btn" v-on:click="closeSidebar"></a>
                </div>  
            </div>

            <div class="sidebar__content" v-if="!userInfo.name">
                <a href="/auth/google" class="login-with-google">
                    <i class="login-with-google__icon"><img src="~assets/img/google-icon.png" /></i>
                    <span>Log in with Google</span>
                </a>
            </div>

            <div class="sidebar__content" v-if="userInfo.name">
                <p class="sidebar__content-item txt-medium--bold black cursor-pointer" v-on:click="goToCategories()">Nominees</p>
                <p class="sidebar__content-item txt-medium--bold black cursor-pointer" v-on:click="goToMyVotes()">Your ballot</p>
                <!--<span class="voted-status" v-if="!myVotes">Voted 15/24</span>-->

            </div>

            <div class="sidebar__footer">
                <a href="javascript:void(0)" class="txt-small--bold yellow" v-on:click="logout" v-if="userInfo.name">Sign out</a>
            </div>
        </div>
    </aside>
</template>

<script>
    import Events from './Events.vue';
    import UserService from './UserService.vue';

    export default {
        name: 'Sidebar',
        data() {
            return {
                isActive: false,
                myVotes: false
            }
        },
        computed: {
            userInfo: function() {
                return UserService.user
            }
        },
        created() {
            Events.$on('go-to-categories', () => {
                this.myVotes = false;
            });

            Events.$on('close-sidebar', () => {
                this.isActive = false;
            });

            Events.$on('open-sidebar', () => {
                this.isActive = true;
            });
        },
        methods: {
            closeSidebar: function() {
                this.isActive = false;
            },
            logout: function() {
                Events.$emit('go-to-categories');
                UserService.logout();
            },
            goToMyVotes: function() {
                Events.$emit('go-to-my-votes');
                document.getElementById('color-wrapper').className = '';
                this.myVotes = true;
            },
            goToCategories: function() {
                Events.$emit('go-to-categories');
                this.myVotes = false;
            }
        }
    };
</script>
