@import "./reset.scss";
@import "./variables.scss";
@import "./types.scss";
@import "./breakpoints.scss";


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

.main {
    width: 100%;
    overflow: hidden;
    transition: .4s background;

    &.beige {
        background: $beige;
    }

    &.charcoal {
        background: $charcoal;
    }
}

.main-loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 200;
    pointer-events: none;
    opacity: 0;
    transition: .4s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        animation: rotateInfinte 1s infinite;
    }
    svg path,
    svg rect{
        fill: #c5a955;
    }
    &.active{
        pointer-events: all;
        opacity: 1;
    }
}

@keyframes rotateInfinte {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }

}

.overflow-auto {
    overflow: auto;
}

.screen-height {
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 60px;

    @include below($screen-xsmall){
        padding: 0 20px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.slick-track {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.progress-bar {
    width: 0;
    transition: 1s background, 1s width;
    position: fixed;
    z-index: 100;
    height: 5px;
    background: #fff;
}

@mixin colorModifier($className, $hexa, $background) {
    #color-wrapper.color-wrapper-#{$className} {
        .progress-bar {
            background: $hexa;
        }

        .fixed-header__user-info a,
        .category .movie-card__name,
        .category .movie-card__percent,
        .category__title {
            color: $hexa;
        }

        .main {
            background: $background;
        }

        .fixed-header__site-logo {
            fill: $hexa;
            color: $hexa;
        }

        .movie-card__poster:before {
            background: $hexa;
        }
    }
}

@include colorModifier("green", #629dac, #ffe5ef);
@include colorModifier("blue", #7d9ed0, #ffe4e4);
@include colorModifier("dark-blue", #627aac, #ffefe5);
@include colorModifier("purple", #ac628a, #fff5e4);
@include colorModifier("marine", #7d83d0, #e5fff6);
@include colorModifier("turquoise", #439b94, #e5faff);
@include colorModifier("red", #ac6462, #e5f2ff);
@include colorModifier("pink", #d07daa, #e5e5ff);
