@font-face{
    font-family: HUGE;
    src: url('./assets/fonts/huge.woff');
}

@font-face{
    font-family: Copernicus;
    src: url('./assets/fonts/GalaxieCopernicus-Book.woff');
}

@function em($size) {
  $remSize: $size / 16px;
  @return #{$remSize}em;
}

@mixin defaultFont($color: #333, $font-size: em(1px), $lineHeight: 1, $spacing: 0) {
    color: $color;
    font-size: $font-size;
    line-height: $lineHeight;
    letter-spacing: $spacing;
    text-decoration: none;

    &.black {
        color: #313131;
    }

    &.yellow {
        color: $yellow;
    }

    &.light-yellow {
        color: $light-yellow;
    }

    &.light-blue {
        color: $light-blue;
    }
}
    

.txt-big--bold {
    @include defaultFont(#7d9ed0, em(60px), 1, -0.01em);
    font-weight: bold;
    font-family: 'HUGE';
}

.txt-medium--bold {
    @include defaultFont(#fff, em(35px), 1, -0.01em);
    font-weight: bold;
    font-family: 'HUGE';
}

.txt-normal--bold {
    @include defaultFont(#fff, em(21px), 1);
    font-weight: bold;
    font-family: 'HUGE';
}

.txt-small--bold {
    @include defaultFont(#333, em(14px), 1, -0.01em);
    font-weight: 500;
    font-family: 'HUGE';
}