$beige: #ffeae4;
$light-yellow: #f4dc90;
$yellow: #d2ae3e;
$light-blue: #7d9ed0;
$white: #fff;
$charcoal: #313131;
$black: #000;


$screen-phone: 480px;
$screen-xsmall: 768px;
$screen-small: 1024px;
$screen-medium: 1200px;
$screen-large: 1280px;
$screen-xlarge: 1400px;

$smallHeight: 650px;