<template>
    <div id="app" class="main" v-bind:class="[backgroundClass, { 'logged-out' : !isLogged }]">
        <div class="progress-bar"></div>
        <fixed-header></fixed-header>
        <sidebar></sidebar>
        <keep-alive>
            <hero v-if="showHero"></hero>
        </keep-alive>
        <keep-alive>
            <component v-bind:is="currentView" v-bind:movies-list="moviesList"></component>
        </keep-alive>
        <div class="main-loading" v-bind:class="{'active' : isLoading }">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"></path>
            </svg>
        </div>
    </div>
</template>

<script>
    import Hero from './components/Hero.vue';
    import MyVotes from './components/MyVotes.vue';
    import Category from './components/Category.vue';
    import FixedHeader from './components/FixedHeader.vue';
    import Sidebar from './components/Sidebar.vue';
    import Events from './components/Events.vue';
    import Scroll from './components/Scroll.vue';
    import UserService from './components/UserService.vue';
    import Slider from './components/Slider.vue';

    export default {
        name: 'app',
        components: {
            Sidebar,
            FixedHeader,
            Hero,
            Category,
            MyVotes
        },
        data() {
            return {
                moviesList: [],
                currentView: 'Category',
                showHero: true,
                backgroundClass: 'beige',
                allVotes: {},
                ScrollInstance: false,
                isLoading: true
            }
        },
        computed: {
            isLogged: function() {
                return UserService.user.token
            }
        },
        created () {
            var vm = this;

            this.fetchData();

            Events.$on('fetch-categories', function() {
                vm.fetchData();
            });

            Events.$on('go-to-my-votes', function() {
                vm.currentView = 'MyVotes';
                vm.showHero = false;
                vm.backgroundClass = 'charcoal'; 
                Events.$emit('close-sidebar');
            });

            Events.$on('go-to-categories', function() {
                vm.currentView = 'Category';
                vm.showHero = true;
                vm.backgroundClass = 'beige';
                Events.$emit('close-sidebar');
                setTimeout(function() {
                    Slider.create('.category__movies-list');

                }, 0)
            });
        },
        methods: {
            fetchData: function() {
                fetch('/api/movies-list', 
                    { 
                        method: 'GET',
                        mode: 'cors',
                        cache: 'default'
                    }
                )
                .then((response) => {
                    var vm = this;
                    return response.json().then((json) => {
                        let allVotes  = json.allVotes,
                            categories = json.categories;

                        this.moviesList = categories.map((category) => {
                            var currentCategoryVotes = allVotes[category._id] ? allVotes[category._id] : {
                                total: 0
                            };

                            category.movies = category.movies.map((movie) => {
                                var currentMovieVotes = currentCategoryVotes[movie._id] ? currentCategoryVotes[movie._id] : 0;
                                movie.percentage = (currentMovieVotes * 100 / currentCategoryVotes.total);

                                return movie;
                            });

                            return category;
                        });

                        this.moviesList = categories;

                        this.isLoading = false;

                        this.$nextTick(() => {
                            Slider.create('.category__movies-list');
                            Scroll.create('.category');
                        })
                    });
                })
            }
        }
    }
</script>

<style lang="scss">
    @import "./main.scss";
</style>